@page "/login"

@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

@attribute [AllowAnonymous]

<h3>Login</h3>
<div class="row justify-content-center">
    <div class="col-xl-4 d-flex p-3">
        <RadzenCard Style="width: 100%;">
            <form Action="@($"api/account/login")" method="post" FormName="Login">
                <RadzenCard>
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Login</RadzenText>
                    <InputText @bind-Value="userName" id="username" placeholder="Username"></InputText>
                </RadzenCard>
                <RadzenCard>
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Password</RadzenText>
                    <InputText @bind-Value="password" id="password" placeholder="Password" />
                </RadzenCard>
                <RadzenButton ButtonType="ButtonType.Submit" Text="SignIn"></RadzenButton>
            </form>
        </RadzenCard>
    </div>
</div>

@code
{
    string userName;
    string password;
}