@page "/Logout"

<form Action="@($"api/account/logout")" method="get" @formname="logout">
    <RadzenButton class="logout-form-btn" ButtonType="ButtonType.Submit" Icon="power_settings_new" Text="Log out" />
</form>